#terse-icon {
	display: inline-block !important;
	background-image: url('chrome-extension://ofmkflgmpjcigcbfbopbfjbpfjadopcb/images/icon48x48.png');
	background-repeat: no-repeat !important;
	background-color: #fff0 !important;
	background-position: right bottom !important;
	padding: 1em !important;
	position: fixed !important;
	cursor: pointer;
	z-index: 999999 !important;
	transition: 0.1s;

	box-sizing: content-box !important;
	background-color: white !important;
    opacity: 1 !important;
    border-radius: 20px !important;
    width: 32px !important;
    height: 32px !important;
    box-shadow: 0px 2px 11px -2px black;
    bottom: 1em !important;
    right: 1em !important;
}
#terse-icon * {
	color: #333 !important;
	font: initial !important;
	font-size: 1em !important;
	font-family: 'Noto Sans', sans-serif !important;
}

#terse-icon h1 {
	display: none !important;
	border: 0 !important;
	font-weight: bold !important;
	margin: 0 !important;
	padding: 0 !important;

	opacity: 0 !important;
}

#terse-icon span {
	display: block !important;
    text-align: center !important;
    line-height: .75 !important;
    font-weight: 600 !important;
    font-size: 42px !important;
}
#terse-icon ul {
	display: none !important;
	margin: 1em !important;
	padding: initial !important;
}
	#terse-icon ul li:not(:last-child) {
		margin-bottom: 5px;
	}

terse-insight-subtitle {
	display: none !important;
}

#terse-icon:hover {
	opacity: 1 !important;
	background: #ffff !important;
	border: solid 1px #000 !important;
	cursor: default;
	width: calc(50% - 3em) !important;
	overflow: auto !important;
	transition: 1s !important;

	height: 75vh !important;
    box-shadow: 0px 2px 11px -2px black;
    border: 1px  solid #c3c3c3 !important;
    border-radius: 20px !important;
    padding: 2.5em !important;
	min-width: 450px !important;
}

#terse-icon:hover span {
	display: none !important;
}

#terse-icon:hover h1 {
	display: block !important;
	z-index: 999;

	opacity: 1 !important;
	transition: all 2s ease !important;
    position: absolute !important;
    font-size: 42px !important;
    font-weight: 100 !important;
	margin-top: -10px !important;
	white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 400px !important;
	padding-left: 40px !important;
}
	#terse-icon:hover terse-bg::before {
		display: block;
		width: 150px;
		height: 300px;
		content: '';
		background: #e1e1e1;
		left: -100px;
		top: -100px;
		transform: rotate(45deg);
		position: absolute;
		z-index: 100;
	}
	#terse-icon:hover terse-bg::after {
		content: 'Σ';
		font-size: 120px;
		position: absolute;
		z-index: 1000;
		opacity: 1;
		top: -20px;
		left: 20px;
		color: black !important;
		font-weight: 600;
	}

#terse-icon:hover ul {
	display: block !important;

	margin-top: 30px !important;
}

#terse-icon:hover terse-insight-subtitle {
	display: block !important;
    font-style: italic !important;
	background: black !important;
    height: 13px !important;
    margin-left: 46px !important;
    margin-top: 57px !important;
    font-size: 10px !important;
    font-weight: 100 !important;
    line-height: 1.2 !important;
	color: white !important;
}