/* cyrillic-ext */
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr6DRAW_0.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr4TRAW_0.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr5DRAW_0.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* greek-ext */
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr6TRAW_0.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr5jRAW_0.woff2) format('woff2');
	unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr6jRAW_0.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr6zRAW_0.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/notosans/v21/o-0IIpQlx3QUlC5A4PNr5TRA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/materialicons/v114/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
  
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

terse, terse *, terse-invalid-page {
	box-sizing: content-box !important;
	border: 0 !important;
	color: #333 !important;
	cursor: default !important;
	font: initial !important;
	font-family: 'Noto Sans', sans-serif !important;
	font-size: 16px !important;
	line-height: initial !important;
	opacity: 1 !important;
	padding: 0 !important;
	margin: 0 !important;
}
terse {
	overflow: auto !important;
}

terse-h1, terse-h2 {
	display: block !important;
	margin: 0 !important;
	opacity: 1 !important;
	overflow: hidden !important;
	padding: 0 !important;
	text-overflow: ellipsis !important;
	transition: all 2s ease !important;
	white-space: nowrap !important;
	z-index: 999 !important;
}

terse-h1 {
	font-size: 2.5em !important;
	position: absolute !important;
	top: 28px;
	left: 74px;
	right: 24px;
}

terse-h2 {
	font-weight: bold !important;
	margin: 1em 0 0.5em 0 !important;
}

	terse-h2:first-of-type {
		margin-top: 92px !important;
	}

terse-insight-subtitle {
	background: #000 !important;
	border-radius: 3px !important;
	color: #fff !important;
	display: block !important;
	font-size: 0.65em !important;
	font-style: italic !important;
	height: 14px !important;
	line-height: 1.3 !important;
	padding: 0 32px !important;
	position: absolute !important;
	top: 96px !important;
	left: 23px !important;
	right: 24px !important;
	z-index: 2000 !important;
}

terse-bg {
	display: block !important;
	height: 140px !important;
	overflow: hidden !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
}

	terse-bg::before {
		background: #e1e1e1 !important;
		content: '' !important;
		display: block !important;
		position: absolute !important;
		left: -100px !important;
		top: -100px !important;
		transform: rotate(45deg) !important;
		width: 150px !important;
		height: 300px !important;
		z-index: 100 !important;
	}

	terse-bg::after {
		color: black !important;
		content: 'Σ' !important;
		font-size: 7.5em !important;
		font-weight: 600 !important;
		opacity: 1 !important;
		position: absolute !important;
		top: -20px !important;
		left: 20px !important;
		z-index: 1000 !important;
	}

terse-span {
	display: none !important;
	text-align: center !important;
	line-height: .75 !important;
	font-weight: 600 !important;
	font-size: 2.65em !important;
}

terse-description {
	display: block !important;
}

terse-topic-ul {
	display: block !important;
	margin: 0 !important;
	padding: 0 !important;
}

	terse-topic-ul terse-li {
		background: #eee !important;
		border-radius: 5px !important;
		color: #555 !important;
		display: inline-block !important;
		font-size: 0.65em !important;
		font-weight: bold !important;
		list-style-type: none !important;
		margin: 0.25em !important;
		padding: 0.55em 0.75em !important;
		text-transform: uppercase !important;
	}
	terse-topic-ul terse-li::after {
		content: attr(data-count) !important;
		border: initial !important;
		border-left: 1px solid #ccc !important;
		border-width: 1px !important;
		color: #999 !important;
		margin: 0 0 0 0.5em !important;
		padding: 0 0 0 0.5em !important;
	}

terse-ul {
	display: block !important;
	list-style-type: disc !important;
	margin-left: 2em !important;
	padding: initial !important;
}

	terse-ul terse-li {
		display: list-item !important;
	}

		terse-ul terse-li:not(:last-child) {
			margin-bottom: 0.3em !important;
		}

body:not(.terse-popup) terse {
	background: #fff !important;
	border-radius: 20px !important;
	box-shadow: 0px 2px 11px -2px #000 !important;
	display: inline-block !important;
	padding: 1em !important;
	position: fixed !important;
	height: 32px !important;
	width: 32px !important;
	bottom: 1em !important;
	right: 1em !important;
	transition: 0.1s !important;
	z-index: 999999 !important;
}

	body:not(.terse-popup) terse:not(:hover) terse-insight-subtitle,
	body:not(.terse-popup) terse:not(:hover) terse-description,
	body:not(.terse-popup) terse:not(:hover) terse-h1,
	body:not(.terse-popup) terse:not(:hover) terse-h2,
	body:not(.terse-popup) terse:not(:hover) terse-ul,
	body:not(.terse-popup) terse:not(:hover) terse-topic-ul,
	body:not(.terse-popup) terse:not(:hover) terse-bg {
		display: none !important;
	}

	body:not(.terse-popup) terse:not(:hover) terse-span {
		display: block !important;
	}

	body:not(.terse-popup) terse:hover {
		height: 75vh !important;
		padding: 2.5em !important;
		min-width: 450px !important;
		transition: 1s !important;
		width: calc(50% - 3em) !important;
	}
