html, body {
    font: initial !important;
    min-width: 450px !important;
    margin: 0 !important;
    width: calc(50% - 3em) !important;
}

body {
    overflow: scroll;
    padding: 2.5em !important;
}

    body.invalid {
        overflow-y: auto !important;
        width: 420px;
    }
